
// Colours
$primary-colour: #747abe;
$placeholder-colour: #272727;
$button-colour: #141414;
$background-colour: #f6f6f6;
$white: #ffffff;
$body-background-colour: #F43268;



// Font sizes
$heading-size: 48px;
$paragraph-size: 16px;

// Font
$font: 'Outfit', sans-serif;

// Button dimensions
$button-height: 44px;
$button-width: 134px;