
// Colours
$primary-colour: #747abe;
$placeholder-colour: #272727;
$button-colour: #141414;
$white: #ffffff;

// Font sizes
$heading-size: 48px;
$paragraph-size: 16px;

// Font
$font: 'Outfit', sans-serif;

// Button dimensions
$button-height: 44px;
$button-width: 134px;